/* Change font of hero title */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.hero h1 {
    font-family: "JetBrains Mono", monospace;
    font-size: clamp(1.5rem, 3.3vw, 6rem) !important;
}
.site-title {
	font-family: "JetBrains Mono", monospace;
}

.hero {
	padding-block: 0rem !important;
	gap: 0.75rem !important;
}
.hero > img {
	border-radius: 50%;
	object-fit: cover;      /* crop to a circle if the photo isn’t square */
	object-position: center;
    padding: 1rem
}
:root {
	/* Default is 45rem. Increase to 65rem, 80rem, or 100% */
	--sl-content-width: 65rem;
    margin: 2rem;
}


.card-grid > * {
	min-width: 0;
}

.study-heatmap-wrapper {
	width: 100%;
	min-width: 0;
	overflow: hidden;
}

.katex-html svg {
  height: inherit;
}